#subcategory-list {
    color: #5c2094;
}
#subcategory-list h4 {
    font-size: 18px;
    margin-bottom: 20px;
}
#subcategory-list > h4 > a {
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
    color: #5c2094;
}
#subcategory-list > h4 > a:hover {
    color: #c82088;
}
#subcategory-list div {
    line-height: 1.8;
}
.subcategory {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
.manage-subcategory > * {
    cursor: pointer;
    color: #5c2094;
    margin-left: 10px;
    display: inline-block;
    font-size: 13px;
}
.manage-subcategory > *:hover {
    color: #c82088;
}
#pagination {
    margin: 20px auto;
}
.pagination {
    padding: 10px 5% 20px;
    text-align: center;
}
.page-item {
    display: inline-block;
    margin-bottom: 10px;
}
.page-item a, .page-item span {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #5c2094;
}
.page-item.active span, .page-item:hover a {
    background: #5c2094;
}
.page-item a {
    color: #5c2094;
    font-weight: 600;
}
.page-item.active span, .page-item:hover a {
    color: #fff;
}

@media(max-width: 767px) {

    .manage-subcategory {
        width: 100%;
        margin: 0;
    }

    .manage-subcategory > *  {
        margin-right: 10px;
        margin-left: 0;
    }
}