.section-title {
    font-size: 22px;
    color: #5c2094;
    font-weight: 500;
    
}
#products-container {
    color: #5c2094;
}
#products-container h4 {
    font-size: 18px;
    line-height: 1;
}
#products-container > h4 > a {
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
    color: #5c2094;
}
#products-container > h4 > a:hover {
    color: #c82088;
}
#products-container div {
    line-height: 2.4;
}
.product {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
.product-cover-link {
    display: block;
    position: relative;
    margin-bottom: 5px;
    width: calc(20% - 20px);
    margin: 0 10px;
}
.product-cover-link .before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 15px);
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-cover-link .before i {
    color: #fff;
    font-size: 90px;
}
.product-cover {
    height: auto;
    width: 100%;
    position: relative;
}
.remove-from-wishlist {
    display: block;
    font-size: 11px;
    margin: 10px 0;
    text-align: center;
    color: #5c2094;
    cursor: pointer;
}
.product-name {
    font-weight: 500;
    font-size: 12px;
    color: #5c2094;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-price {
    display: block;
    margin: 0 0 5px;
    text-align: left;
}
.product-price .regular-price {
    font-size: 10px;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
    color: grey;
}
.product-price .sale-price {
    color: #c82088;
    font-size: 13px;
}
.product-additions {
    padding: 5px;
}
.product-likes {
    display: flex;
    color: #5c2094;
    margin-right: 10px;
    width: calc(70% - 10px);
    vertical-align: middle;
    cursor: pointer;
}
.product-likes i {
    font-size: 20px;
    margin-right: 7px;
    color: #5c2094;
}
.product-likes i.lni-heart-filled, .product-likes .count.liked {
    color: #c82088;
}
.product-likes .count {
    line-height: 20px;
    font-size: 13px;
    color: #5c2094;
}
.view-product {
    text-transform: capitalize;
    text-align: right;
    width: 30%;
    display: inline-block;
    line-height: 20px;
    font-size: 13px;
    color: #5c2094;
}
.view-product:hover {
    color: #c82088;
}
.manage-product > * {
    cursor: pointer;
    color: #5c2094;
    margin-right: 10px;
    display: inline-block;
    font-size: 13px;
}
.manage-product > *:hover {
    color: #c82088;
}
#loading {
    display: none;
}
#no-products {
    color: #5c2094;
    margin-top: 20px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .product-cover-link {
        width: calc(100% - 20px);
    }
    .product-info {
        width: 100%;
    }
    .product-cover {
        height: 140px;
    }
    .product-likes .count {
        font-size: 10px;
    }
    .manage-product > * {
        margin-right: 0;
    }
}