.safari {
    border: 1px solid transparent;
    border-radius: 4px;
    width: calc(20% - 32px);
    margin: 5px;
    padding: 10px;
    background: #fff;
}
.safari:hover {
    border-color: #c82088;
}
.safari-cover-link {
    display: block;
    position: relative;
    margin-bottom: 5px;
}
.safari-cover-link .before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5px);
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.safari-cover-link .before i {
    color: #fff;
    font-size: 90px;
}
.safari-cover {
    height: 200px;
    width: 100%;
    position: relative;
}
.remove-from-wishlist {
    display: block;
    font-size: 11px;
    margin: 10px 0;
    text-align: center;
    color: #5c2094;
    cursor: pointer;
}
.safari-name {
    font-weight: 500;
    font-size: 12px;
    color: #5c2094;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.safari-price {
    display: block;
    margin: 0 0 5px;
    text-align: center;
}
.regular-price {
    font-size: 10px;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
    color: grey;
}
.regular-price-range-from {
    font-size: 10px;
    font-weight: 400;
    text-decoration: line-through;
    color: grey;
}
.regular-price-range-to{
    font-size: 10px;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
    color: grey;
}
.sale-price {
    font-size: 13px;
    font-weight: 400;
    margin-right: 5px;
    color:#c82088;
}
.sale-price-from {
    font-size: 13px;
    font-weight: 400;
    color:#c82088;
}
.sale-price-to {
    font-size: 13px;
    font-weight: 400;
    margin-right: 5px;
    color:#c82088;
}
.das {
    color:grey;
}
.dast {
    color:#c82088;
}
.safari-additions {
    padding: 5px;
}
.safari-likes {
    display: flex;
    color: #5c2094;
    margin-right: 10px;
    width: calc(70% - 10px);
    vertical-align: middle;
    cursor: pointer;
}
.safari-likes i {
    font-size: 20px;
    margin-right: 7px;
    color: #5c2094;
}
.safari-likes i.lni-heart-filled, .safari-likes .count.liked {
    color: #c82088;
}
.safari-likes .count {
    line-height: 20px;
    font-size: 13px;
    color: #5c2094;
}
.view-safari {
    text-transform: capitalize;
    text-align: right;
    width: 30%;
    display: inline-block;
    line-height: 20px;
    font-size: 13px;
    color: #5c2094;
}
.view-safari:hover {
    color: #c82088;
}

@media (max-width: 767px) {
    .safari-cover {
        height: 140px;
    }
    .safari-likes .count {
        font-size: 10px;
    }
}